* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
}

body {
    width: 100%;
}

@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@800');


section {
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    background: #FFF;
}

.left > img{
    width: 100%;
    border-radius: 0 0 0 0;
}

.right {
    padding: 1.5em;
}

#product {
    letter-spacing: 5px;
    font-weight:lighter;
}

#item {
    font-family: Fraunces, serif;
    font-size: 2.3rem;
    font-weight: bold;
    line-height: 1em;
    margin: 0.4em 0 0.4em 0;
}

#description {
    line-height: 1.5em;
    color: hsl(228, 12%, 48%);
}

.price {
    margin: 1.5rem 0 1.5rem 0;
    font-family: Fraunces, serif;
}

#price {
    font-family: Fraunces, serif;
    font-weight: bold;
    font-size: 2.3rem;
    color: hsl(158, 36%, 37%);
    vertical-align: middle;
}

#oldPrice {
    font-family: Fraunces, serif;
    color: hsl(228, 12%, 48%);
    vertical-align: middle;
    padding-left: 0.5em;
    text-decoration: line-through;
}

button {
    width: 100%;
    border: none;
    border-radius: 10px;
    line-height: 2.9em;
    background-color: hsl(158, 36%, 37%);
    color: #FFF;
}

button:hover {
    background-color: hsl(164, 41%, 53%);
}

button > img {
    margin-right: 0.8em;
}

@media screen and (min-width: 600px){
    body {
        width: 100%;
        background-color: #f3eae3;
    }

    section {
        width: 100%;
        display: flex;
        align-content: center;
        justify-content: center;
        top: 50%;
        transform: translateY(50%);
    }

    .container {
        width: 600px;
        height: 450px;
        display: grid;
        grid-template-columns: repeat(2, 50%);
        border-radius: 15px;
        background: #FFF;
        border-radius: 15px;
    }

    .left > img{
        width: 100%;
        height: fit-content;
        border-radius: 15px 0 0 15px;
    }

    .right {
        padding: 2em;
    }

    .description {
        font-size: 18px;
    }
}